@import "./variables.scss";
@import "./mixins.scss";

.clients-container {
  margin: $margin-large 0;
  .clients {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: $margin-xsmall;
    
    .client {
      width: 150px;
      height: auto;
    }
    @include mQ($tablet) {
      margin-bottom: $margin-large-desktop-small;
      align-items: center;
    }
  }
  h3 {
    text-align: center;
    margin-bottom: $margin-small;
  }
  @include mQ($tablet) {
    margin: $margin-large-desktop-small 0;
  }
}