@import "./variables.scss";
@import "./mixins.scss";

.clients-container {
  .clients {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: $margin-xsmall;
    margin-bottom: $margin-large;
    .client {
      width: 150px;
      height: auto;
    }
    @include mQ($tablet) {
      margin-bottom: $margin-large-desktop-small;
      align-items: center;
    }
  }
  h3 {
    text-align: center;
    margin-bottom: $margin-small;
  }
}