@import "./variables.scss";
@import "./mixins.scss";

.contact-container {
  background: $light-grey;
  padding: $margin-large 0;
  scroll-margin-top: 75px;
  @include mQ($tablet) {
    scroll-margin-top: 60px;
  }
  .contact-content {
    display: flex;
    font-family: $roboto-light;
    .icon {
      cursor: pointer;
      margin-right: 10px;
      color: $dark-grey;
      transition: $transition;
    } & .icon:hover {
      color: $accent !important;
    }
    h3 {
      margin-bottom: 20px;
      color: $dark-grey;
    }
    .p-large {
      font-size: 20px;
      line-height: $line-height;
      color: $medium-grey;
    }
    .contact-content-left {
      width: 50%;
      padding-right: 10%;
      border-right: 1px solid $lighter-grey;
      display: flex;
      flex-direction: column;
      gap: $margin-small;
      .contact-image-desktop {
        width: 100%;
        height: auto;
      }
      .email-container {
        display: flex;
        align-items: center;
        font-size: 24px; 
        .email {
          font-weight: 800;
          color: $dark-grey;
          margin-right: 10px;
          transition: $transition;     
        }
        .email:hover {
          color: $accent;
        }
      }
    }
    .contact-content-right {
      width: 50%;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $margin-small;
      .accent-button {
        @include accent-button();
      }
      .accent-button:hover {
        border-color: $medium-grey;
        color: $medium-grey
      }
      .contact-image-mobile {
        display: none;
      }
      .contact-nav-links {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        .navbar-link {
          @include navbar-links();
          width: 50%;
          margin-bottom: 20px;
          cursor: pointer;
          transition: $transition;
        }
        .navbar-link:hover {
          color: $accent;
        }
      }
      .social-media {
        .icons {
          font-size: 30px;
        }
      }
    }
    @include mQ($desktop-small) {
      h2 {
        font-size: 40px;
      }
      .p-large {
        font-size: 16px;
      }
      .email-container {
        font-size: 18px !important;
      }
      .contact-content-left {
        padding-right: 5%;
      }
      .contact-content-right {
        padding-left: 5%;
        .contact-nav-links {
          width: 100%;
        }
      }
    }
    @include mQ($tablet) {
      display: block;
      .contact-content-left, .contact-content-right {
        width: 100%;
        padding: 0;
        text-align: center;
      }
      .contact-content-left {
        border: none;
        margin-bottom: $margin-small;
        .contact-image-desktop {
          display: none;
        }
      }
      .email-container {
        justify-content: center;
      }
      .contact-content-right {
        .contact-image-mobile {
          display: block;
          width: 450px;
          margin: auto;
          height: auto;
        }
        .contact-nav-links {
          width: 100%;
          .navbar-link {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    @include mQ($mobile) {
      .contact-image-mobile {
        width: 100% !important;
      }
    }
  }
  @include mQ($tablet) {
    padding: $margin-large-desktop-small 0 $margin-xsmall 0;
  }
}