@import "./variables.scss";
@import "./mixins.scss";

.corporate-content {
  @include service-section-content();
}

#corporate-background {
  background: url("../public/images/corporate-background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}