@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: $h1;
  @include mQ($desktop-small) {
    font-size: $h1-desktop-small;
  }
  @include mQ($tablet) {
    font-size: $h1-tablet;
  }
}

h2 {
  font-family: $hoefler;
  color: $dark-grey;
  font-size: $h2;
  font-weight: 300;
}

h3 {
  font-size: $h3;
  font-family: $hoefler;
  font-weight: 300;
}

h4 {
  font-size: $h4;
  font-family: $hoefler;
  font-weight: 300;
}

.main-text {
  font-size: 16px;
  font-family: $roboto-light;
  color: $medium-grey;
  line-height: 1.5;
}