@import "./variables.scss";
//hamburger icon
#icon-fixed {
   cursor: pointer;
   width: 35px;
   height: 35px;
   #icon-container {
      position: relative;
      height: 100%;
      #hamburger {
         width: 35px;
         height: 35px;
         position: absolute;
         top: 8px;
         left: 0;
         div {
            transition: 0.4s;
            background-color: $dark-grey;
            width: 35px;
            height: 2px;
            &:nth-child(1) {
               transition-delay: 0.3s;
            }
            &:nth-child(2) {
               margin: 6px 0;
               transition-delay: 0.4s;
            }
            &:nth-child(3) {
               transition-delay: 0.5s;
            }
         }
      }
      #cross {
         height: 35px;
         width: 35px;
         position: absolute;
         transform: rotate(45deg);
         div {
            transition: 0.4s;
            background-color: $dark-grey;
            &:nth-child(1) {
               transition-delay: 0s;
               position: absolute;
               top: calc(50% - 1px);
               width: 0px;
               height: 2px;
            }
            &:nth-child(2) {
               position: absolute;
               left: calc(50% - 1px);
               height: 0px;
               width: 2px;
               transition-delay: 0.1s;
            }
         }
      }
   }
}

#icon-fixed.active {
   #icon-container {
      #hamburger div {
         width: 0;
         &:nth-child(1) {
            transition-delay: 0s;
         }
         &:nth-child(2) {
            transition-delay: 0.1s;
         }
         &:nth-child(3) {
            transition-delay: 0.2s;
         }
      }
      #cross div {
         &:nth-child(1) {
            width: 35px;
            transition-delay: 0.3s;
         }
         &:nth-child(2) {
            height: 35px;
            transition-delay: 0.4s;
         }
      }
   }
}