@import "./variables.scss";
@import "./mixins.scss";

.hero {
  width: 100%;
  background: url("../public/images/hero-background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  padding-top: $margin-large;
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-content-right {
      width: 550px;
      h1 {
        font-family: $hoefler;
        font-weight: 300;
        color: $dark-grey;
        margin-bottom: $margin-xsmall;
      }
      h3 {
        color: $dark-grey;
      }
      p {
        font-size: 18px;
        font-family: $roboto-light;
        font-weight: 500;
        color: $medium-grey;
        line-height: $line-height;
        @include mQ($desktop-small) {
          font-size: 18px;
        }
      }
      @include mQ($desktop-small) {
        width: 48%;
      }
      @include mQ($tablet) {
        text-align: center;
        width: 100%;
        h3 {
          font-size: 24px !important;
        }
      }
    }
    .hero-image {
      width: 550px;
      height: auto;
      @include mQ($desktop-small) {
        width: 48%;
      }
      @include mQ($tablet) {
        display: none;
      }
    }
  }
  
  .service-cards {
    margin-top: $margin-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    @include mQ($desktop-small) {
      margin-top: $margin-large-desktop-small
    }
    @include mQ($tablet) {
      flex-wrap: wrap;
    }
    @include mQ($mobile) {
      flex-direction: column;
    }
  }
  @include mQ($desktop-small) {
    padding-top: calc($margin-large-desktop-small + 60px);
  }
}