@import "./variables.scss";
@import "./mixins.scss";

.listen-content {
  padding: $margin-large 0;
  @include mQ($desktop-small) {
    padding: $margin-large-desktop-small 0;
  }
  h2 {
    text-align: center;
    margin-bottom: $margin-large;
    @include mQ($desktop-small) {
      margin-bottom: $margin-large-desktop-small;
    }
  }
  .video-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .video-container {
      overflow: hidden;
      aspect-ratio: 16 / 9;
      background: $black;
      width: 49.5%;
      margin-bottom: 1%;
      @include mQ($mobile) {
        width: 100%;
        margin-bottom: 2vw;
      }
      .video {
        width: 100%;
        height: 100%;
        border: none;
      }
      .thumbnail-container {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
  .all-audio {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc($margin-large - $margin-xsmall);
    width: 100%;
    flex-wrap: wrap;
    .audio {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: $margin-xsmall;
      width: 25%;
      @include mQ($desktop-small) {
        width: calc(100% / 3);
      }
      @include mQ($tablet) {
        width: 50%;
      }
      @include mQ($tablet-small) {
        width: 100%;
        padding: 10px 0;
        margin: 0;
      }
      .audio-data {
        margin-left: 10px;
        h3 {
          font-family: $hoefler;
          font-weight: 300;
          color: $accent;
          font-size: 20px;
          margin-bottom: 3px;
        }
        p {
          font-family: $roboto-light;
        }
        @include mQ($tablet-small) {
          width: 100%;
          text-align: center;
        }
      }
      .play-button, .pause-button {
        cursor: pointer;
        width: 35px;
        height: 35px;
      }
    }
    @include mQ($desktop-small) {
      margin-bottom: calc($margin-large-desktop-small - $margin-xsmall);
    }
  } & .audio:not(:last-child) {
    @include mQ($tablet-small) {
      border-bottom: 1px solid $light-grey;
    }
  }
  @include mQ($desktop-small) {
    margin: $margin-large-desktop-small 0;
  }
}