@import "./variables.scss";
@import "./mixins.scss";

.live-music-content {
  @include service-section-content();
}

#live-music-background {
  background: url("../public/images/calendar-background.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}