@mixin mQ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin mQmin($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin navbar-links {
  display: flex;
  font-family: $roboto-bold;
  color: $dark-grey;
  letter-spacing: 2px;
  font-size: 14px;
}

@mixin accent-button-no-margin {
  border-radius: 4px;
  padding: 15px 20px;
  background: none;
  border: 1px solid $accent;
  color: $accent;
  font-family: $roboto;
  font-size: 14px;
  cursor: pointer;
  min-width: 150px;
  letter-spacing: 1px;
  transition: $transition;
}

@mixin accent-button {
  border-radius: 4px;
  padding: 15px 20px;
  background: none;
  border: 1px solid $accent;
  color: $accent;
  font-family: $roboto;
  font-size: 14px;
  cursor: pointer;
  margin: $margin-small 20px 0 0;
  min-width: 150px;
  letter-spacing: 1px;
  transition: $transition;
  @include mQ($desktop-small) {
    margin: $margin-small-desktop-small 20px 0 0;
  }
  @include mQ($tablet) {
    margin: $margin-small-desktop-small 10px 0 0;
  }
}

@mixin service-section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $margin-small 0;
  .image, .main-content {
    width: 550px;
    height: auto;
    p {
      line-height: $line-height;
    }
    @include mQ($desktop-small) {
      width: 48%;
    }
    @include mQ($tablet) {
      width: 100%;
    }
  }
  .image {
    @include mQ($tablet) {
      display: none;
    }
  }
  @include mQ($tablet) {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: $margin-large-desktop-small 0;
  }
}