@import "./variables.scss";
@import "./mixins.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 25px 15px 15px;
  z-index: 9999;
  @include mQ($desktop-small) {
    padding: 10px 15px 10px 10px;
    height: 60px;
  }
  .navbar-links {
    @include navbar-links;
    .navbar-link {
      margin: 0 10px;
      cursor: pointer;
    }
    & :hover {
      color: $accent;
    }
  }
  .navbar-logo {
    width: 300px;
    height: auto;
    @include mQ($desktop-small) {
      width: 225px;
    }
  }
}

.nav-links-mobile {
  @include navbar-links();
  background: $light-grey;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  .navbar-link {
    margin: 10px 0;
  }
}