@import "./variables.scss";
@import "./mixins.scss";

.navbar {
  @include navbar();
  .navbar-links {
    @include navbar-links;
    .navbar-link {
      margin: 0 10px;
      cursor: pointer;
    }
    & :hover {
      color: $accent;
    }
  }
  .navbar-logo {
    @include mQ(1200px) {
      width: 225px;
      height: auto;
    }
  }
}

.nav-links-mobile {
  @include navbar-links();
  background: $light-grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .navbar-link {
    margin: 15px 0;
  }
}