@import "./variables.scss";
@import "./mixins.scss";

.service-card {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $black;
  overflow: hidden;
  cursor: pointer;
  p {
    font-family: $roboto-light;
    letter-spacing: 3px;
    font-size: 24px;
    color: $light-grey;
    text-align: center;
    padding: 10px;
    z-index: 1;
    font-weight: 800;
  }
  @include mQ($tablet) {
    width: 49%;
    margin-bottom: 1vw;
  }
  @include mQ($mobile) {
    width: 100%;
    margin-bottom: 2vw;
  }
  .service-card-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0.5;
  }
}

.service-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  @include mQ($mobile) {
    padding-bottom: 66.6%;
  }
}