@import "./variables.scss";
@import "./mixins.scss";

.song-list {
  padding: $margin-large 0;
  width: 100%;
  #download-desktop {
    @include mQ($tablet-small) {
      display: none;
    }
  }
  #download-mobile {
    display: none;
    margin: 10px auto;
    @include mQ($tablet-small) {
      display: block;
    }
  }
  .accent-button {
    @include accent-button();
    margin: 0;
    min-width: fit-content;
  }
  .accent-button:hover {
    border-color: $medium-grey;
    color: $medium-grey
  }
  .song-list-header {
    text-align: center;
    h2 {
      margin-bottom: $margin-xsmall;
    }
    p {
      max-width: 400px;
      margin: auto;
    }
  }
  .song-list-container {
    margin-top: $margin-small;
    font-family: $roboto;
    color: $medium-grey;
    .artist-column, .title-column, .genre-column {
      width: calc(100% / 3);
    }
    .artist-column {
      display: flex;
      align-items: center;
    }
    .title-column {
      display: flex;
      align-items: center;
    }
    .song-list-head {
      display: flex;
      align-items: center;
      padding: 20px 10px;
      background-color: $light-grey;
      color: $accent;
      font-weight: 800;
      .carat {
        font-weight: 300;
        color: $dark-grey;
        font-size: 18px;
        margin-left: 10px;
        cursor: pointer;
      }
      @include mQ($tablet) {
        font-size: 14px;
        padding: 10px;
      }
    }
    .scrolling-song-list {
      scrollbar-width: thin;
      height: 500px;
      overflow-y: scroll;
      @include mQ($tablet) {
        height: 300px;
        font-size: 14px;
      }
      .playlist {
        background: $light-grey;
      }
      .song {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid $light-grey;
        transition: $transition;
        cursor: pointer;
        input {
          cursor: pointer;
        }
      } & .song:hover {
        background: $light-grey;
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      @include mQ($tablet) {
        display: block;
      }
      .search {
        width: 100%;
        .input-row {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .search-box {
            width: 40%;
            padding: 10px;
            font-size: 16px;
            height: 40px;
            border: 1px solid $lighter-grey;
            color: $medium-grey;
            outline: none;
          }
          .search-box::placeholder {
            color: $lighter-grey;
          }
          .controls-right {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .filters {
              select {
                margin-left: 10px;
                width: 175px;
                color: $medium-grey;
                outline: none;
                border: 1px solid $lighter-grey;
                padding: 10px;
                font-family: $roboto;
              }
            }
          }
          @include mQ($desktop-small) {
            .accent-button {
              margin: 0;
            }
          }
          @include mQ(1025px) {
            display: block;
            .controls-right {
              width: 100%;
              .filters {
                width: 100%;
                select {
                  width: fit-content;
                  margin: 0 10px 0 0;
                }
              }
            }
            .search-box {
              width: 100%;
              margin: 0 0 10px 0;
            }
          }
          @include mQ($tablet-small) {
            .controls-right {
              .filters {
                display: flex;
                justify-content: space-between;
                select {
                  margin: 0;
                  width: 49%;
                }
              }
            }
          }
        }
      }
    }
    @include mQ($tablet) {
      .song {
        padding: 10px 0!important;
        font-size: 12px !important;
      }
    }
  }
  @include mQ($tablet) {
    padding: $margin-large-desktop-small 0;
  }
}