@import "./variables.scss";
@import "./mixins.scss";

.testimonials-content {
  margin: $margin-large 0;
  text-align: center;
  color: $medium-grey;
  font-size: 20px;
  font-weight: 300;
  min-height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .testimonial {
    .text-and-arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      #arrow-left, #arrow-right {
        cursor: pointer;
      }
      p {
        font-family: $roboto-italic;
        line-height: $line-height;
        padding: 0 5%;
      }
      span {
        color: $accent;
        font-family: $roboto-italic-bold;
        font-size: 36px;
        line-height: 0;
      }
      @include mQ($desktop-small) {
        p {
          font-size: 18px;
        }
        span {
          font-size: 36px;
        }
      }
    }
    h4 {
      font-size: 24px;
      font-family: $hoefler;
      margin: $margin-small 0;
    }
    @include mQ($desktop-small) {
      p {
        font-size: 18px;
      }
      h4 {
        font-size: 22px;
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    .dot {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background: $light-grey;
      margin: 0 3px;
      cursor: pointer;
    }
    .active {
      background: $accent !important;
    }
  }
  @include mQ($desktop-small) {
    margin: $margin-large-desktop-small 0;
  }
}