@import "./variables.scss";
@import "./mixins.scss";

#weddings-background {
  background: url("../public/images/hero-background.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.weddings-content {
  @include service-section-content();
}

.wedding-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: $margin-large 0;
  .wedding-service {
    width: 30%;
    margin-bottom: $margin-small;
    p {
      line-height: $line-height;
    }
    h3 {
      color: $accent;
      margin-bottom: $margin-xsmall;
    }
    @include mQ($tablet) {
      width: 30%;
    }
    @include mQ($tablet-small) {
      width: 48%;
    }
    @include mQ($tablet-small) {
      width: 100%;
      text-align: center;
    }
  }
  @include mQ($tablet) {
    margin: calc($margin-large-desktop-small - $margin-small) 0;
  }
}